################################################################################
# terraform
################################################################################
/.terraform/
*.tfstate*
*.tfvars
!terraform.tfvars

################################################################################
# general
################################################################################
.env
*.log

################################################################################
# editor
################################################################################
/.idea/
*.iml

################################################################################
# platform
################################################################################
*~
.DS_Store
